/** Globales **/

:root{
    --fondo: #222222;
    --texto: #547B8C;
    --Primario:#FBFFDC;
    --Secundario:#FFAC4F;

    --fuentePrincipal:'Roboto Slab', sans-serif;
    --fuenteSecundaria: 'Barriecito', cursive;   
    }
html {
     box-sizing: border-box;
     font-size: 62.5%;      
 }    
 *, *:before, *:after {
    box-sizing: inherit;
}
body {    
    background-color: var(--Primario);    
    font-size: 2rem;
    line-height: 1.5;
    font-family: var(--fuentePrincipal);
}
a {
    text-decoration: none;    
}

/** Navbar **/

.navbar {
    background-color: var(--texto);
}
.navbar-nav a{
    color: var(--Secundario) !important;
    letter-spacing: 1px;
    border-bottom: 1px solid rgb(207, 203, 203);
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5); 
}
.navbar-nav .nav-link:hover{
    text-shadow: 5px 3px 5px rgba(0, 0, 0, 0.5);     
}
.logo{
    width: 10%; 
    height: 10%; 
    border: 2px solid #98EECC;
    border-radius: 50%; 
    overflow: hidden; 
    display: inline-block;
    margin-left: 6%;
    box-shadow: 3px 1px 3px rgba(0, 0, 0, 0.5);         
}
.logo:hover{
    box-shadow: 6px 2px 6px rgba(0, 0, 0, 0.5);
}
.menu{    
    background-color: #333;
}
.dropdown-item{
    font-size:large;          
}
.dropdown-item:hover{
    color: #333 !important;
    background-color:#98EECC;
    text-shadow: 4px 3px 4px rgba(0, 0, 0, 0.5);
}
.skate-box{
    width: 100%; 
    overflow: visible; 
    position: relative;
}
.logo-skate{
    width: 15%; 
    height: auto;
    position: absolute;
    top: 100%; 
    transform: translateY(-50%) translateX(-100%);     
    margin-top: 3%;    
    animation:slide-right 0.9s linear both             
}
@keyframes 
slide-right{
    0% { transform: translateY(-35%) translateX(-100%);}
    50%{transform: translateY(-65%) translateX(-50%);}
    100% { transform: translateY(-50%); } 
}
.marca-central{     
    color: var(--Secundario);
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);              
}
.marca-central:hover{
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}
.marca-responsive{
    color: var(--Secundario);
    font-size:xx-large;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}
.marca-responsive:hover{
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);  
}

/** Section Imagen Central**/

.img-central{
    margin-top: 8%;
}

/** Section cards y texto **/

.nosotros-text{  
    margin-top: 1%;  
    text-align: center;
    font-family: var(--fuentePrincipal);
    color: var(--texto);
}
.nosotros-text h1{
    font-size: 4.5rem;
    
}
.nosotros-text h2{
    font-size: 2.5rem;
    border-bottom: 1px solid gray;
}
.nosotros-text p{
    margin: 0 10%;
}
.img-nosotros-text{
    border-radius: 30px;
    box-shadow:  6px 2px 6px rgba(0, 0, 0, 0.5);
    transition: all 0.5s;
}
.img-nosotros-text:hover{
    box-shadow:  10px 6px 10px rgba(0, 0, 0, 0.5);
}
.card{
    background-color: var(--Primario);
    box-shadow:  4px 1px 4px rgba(0, 0, 0, 0.5);
    transition: all 0.5s;
    margin-bottom: 20px !important;
}
.card:hover{
    transform: scale(1.1);
    box-shadow:  6px 3px 5px rgba(0, 0, 0, 0.5);
}
.card h2{
    text-align: center;
    font-size: 3rem;
    color: var(--texto);
}
.card-body{
    background-color:#d8f1e7;
}
.card-body p{
    padding: 8px;
}

/** Footer **/

footer{
    width: 100%;    
    background-image: url(/recursos/imagenes/fondo.jpg);    
    background-attachment: fixed;
    clear: both; 
    font-family: var(--fuentePrincipal);
    font-size: large;        
    color: #fff;  
    text-align: center;
    padding: 5px 0;
    margin-top: 20px;    
}
.nosotros,
.product,
.social {
  list-style: none;  
  padding: 0;
  margin: 0;  
}
footer a{
    color: var(--Secundario);
}
.social svg{
    margin: 10px; 
    transition: 0.4s;         
}
footer a:hover{
    color: var(--texto);
}
.social svg:hover{
    transform: scale(1.2);
    color: var(--texto);
}
footer li{    
    margin-bottom: 30px;
    font-size: large;
    text-align: center;
}
footer p{
    font-size: x-large;
    text-align: center;
    margin-top: 2vh;
    border-bottom: 1px solid gray;
}
.p-footer{    
    text-align: center; 
    font-size: large;  
}

/** Media Querys **/

@media (max-width: 1150px) {  
    .navbar-toggler{
        margin-right: 4%;
    }
    .img-central{
        width: 85% !important;
    }  
    .skate-box {
        display: none;
    }
    .card{
        width: 80% !important;
    }     
    .card h2{
        font-size: 2.5rem;
    }
    .card p{
        font-size: medium;
    }
    .nosotros-text h1{
        font-size: 3.5rem;        
    }
    .nosotros-text h2{
        font-size: 2rem;        
    }
    .nosotros-text p{
        font-size: large;
    }   
     footer p{
        font-size: larger;
        margin-top: 1vh;
    }   
}
@media (max-width: 768px) {
    .marca-responsive{        
        font-size:larger;
    }
    .skate-box {
        display: none;
    }
    .img-central{
        width: 95% !important;
    }
    footer p{
        font-size: large;
        margin-top: 1vh;
    }  
    .nosotros a,
    .product a{
        font-size: medium;
    }    
    .social svg{
        width: 11%;         
        height: 11%;
     }    
}

@media (max-width: 650px) {    
    .marca-central{
        display: none;
    }
    .marca-central{
        display: none;
    }
    .title-social{
        display: none;
    }  
    .social svg{
        width: 10%;         
        height: 10%;
    }        
}

@media (max-width: 480px) {
    .marca-responsive{        
        font-size:medium;
    }      
    .social svg{      
       width: 22%;         
       height: 22%;
    } 
    .title-social{
        display: none;
    }     
}

@media (max-width: 400px) {   
    .logo{
        width: 15%; 
        height: 15%; 
    }
    .marca-responsive{
        font-size: 75%;
    }    
    .card-s h2{
        font-size: 2rem;
    }
    .card-s p{
        font-size: small;
    }
    .social svg{
        margin: 7px;
        width: 20%;         
        height: 20%;
     }     
}
@media (max-width: 320px) {
    .marca-responsive{
        font-size: 16px;
    }   
    .social svg{
        width: 17%;
        height: 17%;
        margin-bottom: 20px;        
    } 
     .p-footer{
        font-size: medium;
    }    
}